{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="container">
  <div class="row mt-4">
    <div class="col-lg-6 mx-auto">
      <div class="jumbotron shadow-lg bg-white rounded">
        {% if validlink %}
        <form method="post" action=".">
          {% csrf_token %} 
          <h2>{% trans "Reset Password Confirm" %}</h2>
          <hr class="colorgraph">
          {% include "includes/_form.html" %}
          <hr class="colorgraph">
          <input type="submit" class="btn btn-lg btn-primary btn-block" value="{% trans 'Submit' %}" />
        </form>
        {% else %}
          <p>{% trans "Password reset failed" %}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
