{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row mt-4">
    <div class="col-lg-6 mx-auto">
      <div class="jumbotron shadow-lg bg-white rounded">
        <form method="post" action=".">
          {% csrf_token %}
          <h2>{% trans "Registratione" %}</h2>
          <hr class="colorgraph">
          {% include "includes/_form.html" %}      
          <!-- <hr class="colorgraph"> -->
          <input type="submit" class="btn btn-lg btn-primary btn-block" value="{% trans 'Submit' %}" />
          <hr class="colorgraph">
          <div class="d-flex justify-content-center">
            {% trans "Hai già un account?" %} <a class="text-decoration-none ml-2" href="{% url 'auth_login' %}">{% trans "Accedi" %}</a>
          </div>                        
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
